<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do Task!!</title>
</head>
<style>
    h1,body,table{
        font-family: 'Times New Roman', Times, serif;
        border: black;
        text-align:center;
        align-items: center;
        align-content:center;
        background-color:cornflowerblue;
    }
</style>
<script  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="practice.js"></script>
<body ng-controller="myController">
    <table border="1%" align="center">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Option</th>
        </tr>
        <tr ng-repeat="obj in arr">
            <td ng repeat="(k,v) in obj">{{v}}</td>
            <td>
                <input type="button" value="Delete" ng-click="Delete(obj.id)">
                <input type="button" value="Update" ng-click="Update(obj.id)">
            </td>
        </tr>
    </table>
    <br><br>
    <div id="form">
        ID:<input type="text" ngmodel="tid">
        Name:<input type="text" ng-model="tname">
        <input type="button" value="Add" ng-click="AddItem()">
    </div>
</body>
</html>